<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница изменения человека</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
  <label for="personName">Введите ФИО:</label>
  <input th:type="text" th:field="*{personName}" id="personName"/>
  <br/>
  <label for="yearOfBirth">Введите год рождения:</label>
  <input th:type="text" th:field="*{yearOfBirth}" id="yearOfBirth"/>
  <br/>
  <input type="submit" value="Редактировать!"/>
</form>
</body>
</html>