<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${person.getPersonName()}">value</p>
<p th:text="${person.getYearOfBirth()}">value</p>
<div th:if="${books.isEmpty()}">
    <p>Человек еще не взял не одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <table th:each="book : ${books}">
        <tr th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getReleaseYear()}">book</tr>
    </table>
    <hr/>
</div>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>