<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Страница добавления человека</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
  <label for="title">Введите название книги:</label>
  <input th:type="text" th:field="*{title}" id="title"/>
  <br/>
  <label for="author">Введите автора:</label>
  <input th:type="text" th:field="*{author}" id="author"/>
  <br/>
  <label for="releaseYear">Введите год:</label>
  <input th:type="text" th:field="*{releaseYear}" id="releaseYear"/>
  <br/>
  <input type="submit" value="Создать!"/>
</form>

</body>
</html>